<template name="qcSessionsListItemPast">
	<div class="col-md-3">
		<a href="{{pathFor 'qcSessionPage' data=getData}}" class="thumbnail">
			<span class="text-center">
				<h4>{{sessionCode}}</h4>
			</span>
			<p class="text-center"><small> finished {{DateFormat finishedAt}}</small></p>
		</a>
	</div>
</template>