<template name="qcSessionsListItemReady">
	<div class="col-md-3">
		<a href="{{pathFor 'qcSessionBroadcast' data=getData}}" class="thumbnail">
			<span class="text-center">
				<h4>{{sessionCode}}</h4>
			</span>
			<p class="text-center"><small> created {{DateFormat createdAt}}</small></p>
		</a>
	</div>
</template>