<template name="qcSessionsListItem">
    <!-- <div class="col-xs-6 col-md-3">
        <a href="{{pathFor route=getSessionRoute data=getRouteData}}" class="thumbnail">
            <span class="text-center">
                <h4>{{sessionCode}}</h4>
            </span>
            <p class="text-center"><small> created {{formattedDate}}</small></p>
        </a>
    </div> -->
	
	{{> Template.dynamic template=getTypedSessionsListItem}}
	
</template>
