<template name="auHome">
    <div class="panel panel-default">
        <div class="panel-heading">Audience - Home page</div>
        <div class="panel-body">
            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="thumbnail ">
                        <h3 class="text-center">Start a Quiz Session</h3>
                        <form class="startSessionForm">
                            <div class="form-group">
                                <label for="sessionCode">Enter the Session Code:</label>
                                <input id="sessionCode" class="form-control" type="text" name="sessionCode" placeholder="...session code"/>
                            </div>
                            <button type="submit" class="btn btn-default btn-lg btn-block">Start</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
