<template name="auSessionBroadcast">

    <div class="panel panel-primary">
        <div class="panel-heading">SessionBroadcast - {{session.sessionCode}}</div>
        <div class="panel-body">
            <div class="jumbotron">
<!--                <div class="container">-->
                    {{ > yield "auCurrentContent"}}
<!--                </div>-->
            </div>
        </div>
    </div>

</template>
