<!--INFO: Main template. Could be assimilated to the enveloppe of the website. yield is where the router will render the appropriate template.-->
<template name="layout">
    <div class="container">
        {{>header}}
        <div class="main">
            {{> yield}}
        </div>
    </div>
</template>
