<!--INFO: template rendered when the data can't be found or when not allowed or when just doesn't exist.-->
<template name="notFound">
    <div class="jumbotron">
        <h2>Error 404</h2>
        <p>Sorry, the page you have requested cannot be found</p>
        <p id="notFoundTimerAnchor"></p>
    </div>
</template>
