<template name="saLayout">
    {{> saHeader}}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                {{> yield "saLeftMenu"}}
            </div>
            <div class="col-sm-9 col-md-10">
                {{> yield}}
            </div>
        </div>
    </div>
</template>
