<!--

    DATA-CONTEXT:

        - desAccountsCount: Amount of desactivated accounts (See 'SA_Controller')
-->

<template name="saLeftMenu">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
            <a href="{{pathFor 'saHome'}}">Home</a>
        </li>
        <li role="presentation">
            <a href="{{pathFor 'saAccountRequests'}}">
                    Pending account requests
                <span class="badge">{{desAccountsCount}}</span>
                </a>
        </li>
        <li role="presentation">
            <a href="{{pathFor 'saStatistics'}}">Statistics</a>
        </li>
        <li role="presentation">
            <a href="{{pathFor 'saSettings'}}">Settings</a>
        </li>
    </ul>
</template>
