<template name="root">
    <div class="panel panel-default">
        <div class="panel-heading">Common Access Page / Login</div>
        <div class="panel-body">
            Welcome!
        </div>
    </div>
</template>
