<template name="qcSessionsListEmptyReady">
	<span>No sessions available</span>
	<button type="button" class="btn btn-xs btn-warning goToSessionCreateButton">Click here to create one</button>
</template>