<template name="auHeader">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'root'}}">CoSyQuiZ</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
<!--                The line below allows the insertion of a template (basically a block of html) called loginButtons which wasn't written
                    by myself. This template comes from a package that was written by Ian Martorell which can be found at the following
                    URL: https://atmospherejs.com/ian/accounts-ui-bootstrap-3 
-->
                {{> loginButtons}}
            </ul>
        </div>
    </nav>

</template>
