<template name="auLayout">
    {{> auHeader}}
    <div class="container-fluid">
        <div class="row">
<!--
            <div class="col-xs-3 col-sm-3 col-md-2">
                {{> yield 'auLeftMenu'}}
            </div>
-->
            <div class="main col-xs-12 col-sm-12 col-md-12">
                {{> yield}}
            </div>
        </div>
    </div>
    {{> auFooter}}
</template>
