<template name="auSessionBroadcastQuestionResult">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h4 class="text-left"><small>Question {{qNumber}}/{{qCount}}</small></h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h4 class="text-center">
                {{title}}
                <br />
                <small>{{subtitle}}</small>
            </h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="questionResultAnchor">
        </div>
    </div>

</template>
