<!-- 
	DATA CONTEXT (passed from parent template):
		- title: Quiz title
		- subtitle: Quiz subtitle
		- qNumber: Current question (index + 1)
		- qCount: Questions count
		- question: Question object
		- sessionId: Session id
	See qc_session_broadcast.js for details.
-->
<template name="auSessionBroadcastQuestionForm">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h4 class="text-left"><small>Question {{qNumber}}/{{qCount}}</small></h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h4 class="text-center">
                {{title}}
                <br />
                <small>{{subtitle}}</small>
            </h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">

        </div>
    </div>
    <br/>

<!--    question doc avaible from data context: question -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" id="questionFormAnchor">
        </div>
    </div>

</template>
