<template name="qcAnswerItemHidden">
    <tr class="answerItemHidden hidden">
        <td class="answerIndex">INDEX HERE</td>
        <td>
            <input type="text" name="answerTitle" class="form-control answerTitle" />
        </td>
        <td>
            <select class="form-control answerCorrect" name="answerCorrect">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-xs removeAnswerButton"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
</template>
