<template name="qcAnswerItem">
    <tr class="answerItem">
        <td class="answerIndex">A</td>
        <td>
            <input type="text" name="answerTitle" class="form-control answerTitle" />
        </td>
        <td>
            <select class="form-control answerCorrect" name="answerCorrect">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </td>
        <td>
            <button type="button" class="btn btn-success btn-xs addAnswerButton"><span class="glyphicon glyphicon-plus"></span></button>
        </td>
    </tr>
</template>
