<template name="qcLeftMenu">
    <ul class="nav nav-pills nav-stacked" id="qcLeftMenu" aria-multiselectable="false">


        <li role="presentation" class="active">
            <a href="{{pathFor 'qcHome'}}">
                <span class="glyphicon glyphicon-home"></span> Home
            </a>
        </li>





        <li role="presentation">
            <a id="quizzesNav" role="button" data-toggle="collapse" data-parent="#qcLeftMenu" href="#quizzesSubNav" aria-expanded="true" aria-controls="quizzesSubNav">
                <span class="glyphicon glyphicon-pencil"></span> Quizzes
                <span class="caret"></span>
            </a>
            <ul class="nav nav-pills nav-stacked collapse" id="quizzesSubNav">
                <li>
                    <a href="{{pathFor 'qcQuizCreate'}}">Create new</a>
                </li>
                <li><a href="{{pathFor 'qcQuizzesList'}}">Available</a></li>
            </ul>
        </li>


        <li role="presentation">
            <a id="sessionsNav" class="collapsed" role="button" data-toggle="collapse" data-parent="#qcLeftMenu" href="#sessionsSubNav" aria-expanded="false" aria-controls="sessionsSubNav">
                <span class="glyphicon glyphicon-facetime-video"></span> Sessions
                <span class="caret"></span>
            </a>
            <ul class="nav nav-pills nav-stacked collapse" id="sessionsSubNav">
                <li>
                    <a href="{{pathFor 'qcSessionCreate'}}">Create new</a>

                </li>
                <li>
                    <a href="{{pathFor 'qcSessionsList' data=getReady}}">Ready to launch</a>
                </li>
				<li>
					<a href="{{pathFor 'qcSessionsList' data=getInProgress}}">In progress</a>
				</li>
                <li>
                    <a href="{{pathFor 'qcSessionsList' data=getPast}}">Past sessions</a>
                </li>
            </ul>
        </li>

    </ul>
</template>
