<template name="qcLayout">
    {{> qcHeader}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                {{> yield 'qcLeftMenu'}}
            </div>
            <div class="col-sm-9 col-md-10">
                {{> yield}}
            </div>
        </div>
    </div>
    {{> qcFooter}}
</template>
