<template name="qcQuestionItemHiddenEmpty">
    <div class="container col-sm-12 questionItemHiddenEmpty hidden">
        <div class="row">
            <div class="col-sm-2"><span style="background-color:#7EB1DC; padding: 5px 5px;" class="questionIndex">QUESTION Index_HERE</span></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" name="questionTitle" class="form-control questionTitle" value="" placeholder="Fill your question" />
                    </div>
                    <div class="col-sm-1">
                        <button type="buton" class="btn btn-default btn-sm removeQuestionButton"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Possible answers</div>
                    <table class="table questionAnswers">
                        <tr>
                            <th>#</th>
                            <th>Answer</th>
                            <th>Correct ?</th>
                            <th></th>
                        </tr>

                        {{> qcAnswerItemHidden}}

                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
