<template name="qcQuizzesListEmptyItem">
    <div class="col-xs-6 col-md-3">
        <a href="{{pathFor 'qcQuizCreate'}}" class="thumbnail">
            <span class="text-center">
                <h3>Quizzes list empty
                    <br />
                    <small>Click here to create one</small>
                </h3>
            </span>
            <!--            <p class="text-center"><small> created </small></p>-->
        </a>
    </div>
</template>
