<!--PARENT = SM9 and MD10-->

<template name="qcQuizzesListItem">
    <div class="col-xs-6 col-md-3">
        <a href="{{pathFor 'qcQuizPage' _id}}" class="thumbnail">
            <span class="text-center">
                <h4>{{title}}
                    <br />
                    <small>{{subtitle}}</small>
                </h4>
            </span>
            <p class="text-center"><small> created {{date}}</small></p>
        </a>
    </div>
</template>
