<!--
    DATA CONTEXT (passed from parent template):
        - title: Quiz title
        - subtitle: Quiz subtitle
        - qNumber: Current question (index + 1)
        - qCount: Questions count
        - question: Question object
    See qc_session_broadcast.js for details.
-->
<template name="qcSessionBroadcastQuestionContent">

    <div class="row">
        <div class="col-md-4">
            <h4 class="text-left">
                <small>Question {{qNumber}}/{{qCount}}</small>
            </h4>
        </div>
        <div class="col-md-4">
            <h4 class="text-center">
                {{title}}
                <br />
                <small>{{subtitle}}</small>
            </h4>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12" id="questionContentAnchor">
        </div>
    </div>

</template>
