<template name="qcSessionBroadcastCommands">

    {{#unless launchedAt}}
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary sessionLaunchBtn">Launch!</button>
        </div>
    </div>
    {{/unless}} {{#if state}}
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary sessionPreviousBtn">Previous</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary sessionNextBtn">Next</button>
        </div>
    </div>
    {{/if}} {{#if quizEnd}}
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary sessionPreviousBtn">Previous</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-warning sessionFinishBtn">Finish</button>
        </div>
    </div>
    {{/if}}

</template>
