<template name="saAccountReqItem">
    <tr>
        <td>{{_index}}</td>
        <td>{{profile.firstname}}</td>
        <td>{{profile.lastname}}</td>
        <td>{{profile.gender}}</td>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{role}}</td>
        <td><a class="activate btn btn-xs btn-success" href="#">Activate</a></td>
    </tr>
</template>
