<!--Quiz Creator List-->
<template name="saAccountRequests">
    <div class="panel panel-default">
        <div class="panel-heading">QuizCreator account requests</div>


        {{#if showRequests}}
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                {{#each indexedCursor desactivatedAccounts}}
                    {{> saAccountReqItem }}
                {{/each}}
            </table>
        {{else}}
            <h4 class="text-center">No pending requests</h4>
        {{/if}}

    </div>
</template>
