<template name="saHome">
    <div class="panel panel-default">
        <div class="panel-heading">Super Admin - Home page</div>
        <div class="panel-body">
            <h2>Welcome to you, your Lordship!</h2>
            <h3>The Home page should be a kind of Dashboard summarizing things</h3>
            <ul>
                <li>Pending account requests number</li>
                <li>Statistics on the app (user amount...)</li>
            </ul>
        </div>
    </div>
</template>
