<template name="qcHome">
    <div class="panel panel-default">
        <div class="panel-heading">QuizCreator - Home page</div>
        <div class="panel-body">
            <h2>Welcome to you dear QuizCreator</h2>
        </div>
    </div>
</template>
