<template name="qcQuizPage">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="text-center">Quiz: {{quiz.title}}</h4>
            <a href="#" class="btn btn-warning quizEditButton" role="button">Edit</a>
            <a href="#" class="btn btn-danger quizDeleteButton" role="button">Delete</a>
        </div>
        <div class="panel-body">

            <form class="form-horizontal quizForm quizPage quizUpdate">

                <fieldset disabled>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="quizTitle">Title</label>
                        <div class="col-sm-10">
                            <input type="text"
								   name="quizTitle"
								   class="form-control"
								   id="quizTitle"
								   value="{{quiz.title}}"
								   placeholder="Name your quiz" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="quizSubtitle">Subtitle</label>
                        <div class="col-sm-10">
                            <input type="text"
								   name="quizSubtitle"
								   class="form-control"
								   id="quizSubtitle"
								   value="{{quiz.subtitle}}"
								   placeholder="Optional" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="codePrefix">Code prefix</label>
                        <div class="col-sm-10">
                            <input type="text"
								   name="codePrefix"
								   class="form-control"
								   id="codePrefix"
								   value="{{quiz.codePrefix}}"
								   placeholder="Give it a friendly name" />
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h4><strong>Questions and answers</strong>
                                <br />
                                <small>Total = {{questionsCount}}</small>
                            </h4>
							<div class="form-inline newQuestionDiv">
								<div class="form-group">
									<label class="sr-only" for="questionType">Type</label>
									<button class="btn btn-success addQuestionButton">Add a</button>
									<div class="input-group">
										<select class="form-control"
												id="selectQuestionType"
												name="selectQuestionType">
											{{#each questionTypesList}}
											<option value="{{dbValue}}">{{listName}}</option>
											{{/each}}
										</select>
										<div class="input-group-addon">question!</div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="panel-body" id="quizQuestions">
							<p class="hidden" id="questionAnchor"></p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </fieldset>
            </form>
        </div>
    </div>
</template>
