<template name="qcQuizzesList">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4>Quizzes available</h4>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">

                    {{#if emptyQuizzesList}}
                        {{> qcQuizzesListEmptyItem}}
                    {{else}}
                        {{#each quizzes}}
                            {{> qcQuizzesListItem}}
                        {{/each}}
                    {{/if}}

                </div>
            </div>

        </div>
    </div>
</template>
