<template name="qcSessionCreate">

    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4>Create New Quiz Session</h4>

            {{#unless quizzesCount}}
            <a href="{{pathFor 'qcQuizCreate'}}" class="btn btn-xs btn-warning" role="button">
                <span class="glyphicon glyphicon-exclamation-sign"></span> No quiz available, click here to create one
            </a>
            {{/unless}}

        </div>

        <div class="panel-body">
            <fieldset {{getFormDisable}}>
                <form class="form-horizontal launchSessionForm">

                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label" for="sessionQuiz">Choose a Quiz:</label>
                        <div class="col-sm-10 col-md-10">
                            <select id="sessionQuiz" class="form-control" name="sessionQuiz">
                                <option class="hidden"></option>
                            </select>
                        </div>
                    </div>
					
					<div class="form-group">
						<label class="col-sm-2 col-md-2 control-label" for="quizSubtitle">Subtitle</label>
						<div class="col-sm-10 col-md-10">
							<input id="quizSubtitle"
								   class="form-control"
								   type="text"
								   name="quizSubtitle"
								   placeholder="Quiz subtitle"
								   readonly/>
						</div>
					</div>

                    <div class="form-group">
                        <label class="col-sm2 col-md-2 control-label" for="sessionCode">Session code:</label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <div id="quizCodePrefix" class="input-group-addon">CodePrefix</div>
                                <input id="codeSuffix"
									   class="form-control"
									   type="text"
									   name="codeSuffix"
									   placeholder="preferably a number"
									   readonly/>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Create session</button>
					<a class="btn btn-info sessionCreateAndStart" role="button">Create and start</a>

                </form>
            </fieldset>
        </div>

    </div>
</template>
