<template name="qcSessionsList">
    <div class="panel panel-primary">
        <div class="panel-heading">Sessions - {{headingSecondPart}}</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">

                    {{#if emptySessionsList}}
                        {{> qcSessionsListEmpty}}
                    {{else}}
                        {{#each sessions}}
                            {{> qcSessionsListItem}}
                        {{/each}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>
