<template name="qcSessionPage">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4>Edit Quiz Session - {{session.sessionCode}}</h4>
            <a href="#" class="btn btn-danger sessionDeleteButton" role="button">Delete</a>
        </div>

        <div class="panel-body">

            <form class="form-horizontal sessionPageForm">

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label" for="sessionQuiz">Quiz:</label>
                    <div class="col-sm-10 col-md-10">
                        <input id="sessionQuiz" class="form-control" name="sessionQuiz" value="{{quiz.title}}" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-md-2 control-label" for="quizSubtitle">Subtitle</label>
                    <div class="col-sm-10 col-md-10">
                        <input id="quizSubtitle" class="form-control" type="text" name="quizSubtitle" value="{{quiz.subtitle}}" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm2 col-md-2 control-label" for="sessionCode">Session code:</label>
                    <div class="col-sm-10 col-md-10">
                        <div class="input-group">
                            <div id="quizCodePrefix" class="input-group-addon">{{quiz.codePrefix}}</div>
                            <input id="codeSuffix" class="form-control" type="text" name="codeSuffix" value="{{codeSuffix}}" readonly/>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-heading">Session Results</div>
                <div class="panel-body">
                    {{#if session.finishedAt}}
                        <span>SHOW RESULTS</span>
                    {{else}}
                        <span>
                            Session hasn't been launched yet, would you like to ?
                            <a href="{{pathFor 'qcSessionBroadcast' session._id}}"
                               class="btn btn-xs btn-primary goToSessionBroadcastButton" role="button">Yes! Fire!</a>
                        </span>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>
</template>
