<template name="qcSessionBroadcast">

	<div class="panel panel-primary">
		<div class="panel-heading">

			SessionBroadcast - {{session.sessionCode}}

			{{#unless session.launchedAt}}
				<div class="pull-right">
					<a class="btn btn-sm btn-warning goToSessionPageButton" role="button">Session info</a>
				</div>
			{{/unless}}					

		</div>
		<div class="panel-body">
			<div class="jumbotron">
				{{ > yield "qcCurrentContent"}}
			</div>
			{{> qcSessionBroadcastCommands session}}
		</div>
	</div>

</template>
