<template name="commonSessionBroadcastWelcome">
    <span class="text-center">
        <h2>{{title}}
            <br />
        <small>{{subtitle}}</small>
        </h2>
        <p class="text-center">Presented by {{author}}</p>
    </span>
</template>
